body {
    font-family: 'Arimo', sans-serif;
    background-image: linear-gradient(#866c4374, #866c4374), url(./media/desert.jpg);
    background-color:  #866c4349;
    min-height: 100vh;   
}

.bg-base{
    background-color: #ecebed83;
    /* height: 550px; */
}

.bg-name{
    background-color: #9c8b7264;
}

p{
    font-size: 1.2rem;
}

h1{
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

#bloccoTitoli {
    padding-left: 3rem;
}

#dev{
    position: relative;
    z-index: 1;
    transform: translateX(20%);
}

h2:hover{
    color :#9c8b72 ;
}

#freccia{
    transition: all 0.2s ease;
}

#freccia:hover{
    transition: 0.2s ease-in-out;
    color :#9c8b72;
    transform: rotate(-90deg);
}


.par{
    color: whitesmoke;  
    position: relative;
    top: -450px;
    margin-bottom: -345px;
    font-size: 1.3rem;
    text-align: center;

    animation-name: fade;
    animation-duration: 1s;
}

#close{
    font-size: 1.5rem;
    transition: all 0.2s ease;
}

#close:hover{
    color: #9c8b72;
    transition: 0.2s;
    transform: rotate(90deg);
}

.fede-in{
    opacity: 0.9s;
    transition: 3s;
}


a {
    color: #212529;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

a:hover{
    color: whitesmoke;
}

.my-shadow{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.33);

}

#portfolio:hover{
    color: #9c8b72!important;
}

#backBtn{
    font-size: 2.5rem;
}

/* Animazioni */
@keyframes fade{
    from {opacity:0;}
    to {opacity:0.9;}
}


.d-none-out{
    animation: d-none-out 1s;
   
}

@keyframes d-none-out{
    from {display: block;}
    to {display: none;}
}

.bg-foto{
    background-image: url(./media/foto_profilo.jpeg);
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    align-items: stretch;
   
}

.back{
    backdrop-filter: opacity(1) blur(10px) brightness(30%);
    background-color: #9c8b7264;  
}

.back2{
    backdrop-filter: opacity(1) blur(5px);    
}

.bio{
    color: whitesmoke;
    line-height: 1.6;
}

.filter{
    
    filter: brightness(20%) blur(5px);

}
.card{
    border: none!important;
}