body {
    font-family: 'Arimo', sans-serif;
}

.bg-base{
    background-color: #ecebed;
}

.bg-name{
    background-color: #9c8b72;
}

p{
    font-size: 1.5rem;
}
h1{
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

#bloccoTitoli {
    padding-left: 3rem;
}

#dev{

    position: relative;
    z-index: 1;
    transform: translateX(20%);
}

#freccia{
    transition: all 0.2s ease;
}

#freccia:hover{
    transition: 0.2s ease-in-out;
    color :#9c8b72;
    transform: rotate(-90deg);
}


.par{
    color: whitesmoke;  
    position: relative;
    top: -450px;
    margin-bottom: -340px;
    font-size: 1.3rem;
    text-align: center;

    animation-name: fade;
    animation-duration: 1s;

}

#close{
    font-size: 1.5rem;
    transition: all 0.2s ease;
    
}

#close:hover{
    color: #9c8b72;
    transition: 0.2s;
    transform: rotate(90deg);
}

.fede-in{
    opacity: 0.9s;
    transition: 3s;
}

@keyframes fade{
    from {opacity:0;}
    to {opacity:0.9;}
}