body {
    font-family: 'Arimo', sans-serif;
}

.bg-base{
    background-color: #ecebed;
}

.bg-name{
    background-color: #9c8b72;
}

p{
    font-size: 1.5rem;
}
h1{
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

#bloccoTitoli {
    padding-left: 3rem;
}

#dev{

    position: relative;
   
    transform: translateX(20%);
}

#freccia{
    transition: all 0.2s ease;
}

#freccia:hover{
    transition: 0.2s ease-in-out;
    color :#9c8b72;
    transform: rotate(-90deg);
}

